<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
<!--        <activity-->
<!--            android:name=".activity.PDF_Reader_Activity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activity.PrintPdfActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/NewAppTheme" />-->

       <!-- <activity
            android:name=".activity.ViewFiles_Activity"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".activity.CSVViewer_Activity"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".activity.ViewRtf_Activity"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".activity.All_Document_Reader_Activity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:label="@string/app_name">
&lt;!&ndash;            <intent-filter>&ndash;&gt;
&lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;
&lt;!&ndash;            </intent-filter>&ndash;&gt;
&lt;!&ndash;            <intent-filter>&ndash;&gt;
&lt;!&ndash;                <action android:name="android.intent.action.VIEW" />&ndash;&gt;

&lt;!&ndash;                <category android:name="android.intent.category.DEFAULT" />&ndash;&gt;

&lt;!&ndash;                <data android:scheme="content" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-word" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-word.document.macroenabled.12" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/msword" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-word.template.macroenabled.12" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-excel.sheet.macroenabled.12" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-excel" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-excel.addin.macroenabled.12" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-excel.template.macroenabled.12" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-powerpoint" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-powerpoint.presentation.macroenabled.12" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/vnd.ms-powerpoint.slideshow.macroenabled.12" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="application/pdf" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="text/xml" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="text/html" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="text/css" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="text/java" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="text/json" />&ndash;&gt;
&lt;!&ndash;                <data android:mimeType="text/plain" />&ndash;&gt;
&lt;!&ndash;            </intent-filter>&ndash;&gt;
        </activity>-->
    </application>

</manifest>